{% extends 'base.html.twig' %}
{% block title %}New Player{% endblock %}

{% block body %}
  {% set actions %}
    <a class="am-btn" href="{{ path('app_player_index') }}">Retour</a>
  {% endset %}

  {% set body %}
    {{ include('player/_form.html.twig', { form: form, button_label: 'Créer' }) }}
  {% endset %}

  {{ include('_ui/page_card.html.twig', {
    title: 'Nouveau joueur',
    subtitle: 'Créer un joueur',
    actions: actions,
    body: body
  }) }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ include('_ui/am_styles.html.twig') }}
{% endblock %}
