{% extends 'base.html.twig' %}
{% block title %}Team{% endblock %}

{% block body %}
  {% set actions %}
    <a class="am-btn" href="{{ path('app_team_index') }}">Retour</a>
    <a class="am-btnPrimary" href="{{ path('app_team_edit', {'id': team.id}) }}">Edit</a>
  {% endset %}

  {% set body %}
    <div class="am-tableWrap">
      <table class="am-table">
        <tbody>
          <tr><th>ID</th><td>{{ team.id }}</td></tr>
          <tr><th>Nom</th><td>{{ team.name }}</td></tr>
        </tbody>
      </table>
    </div>

    <div class="am-formActions">
      {{ include('team/_delete_form.html.twig') }}
    </div>
  {% endset %}

  {{ include('_ui/page_card.html.twig', {
    title: 'Détails équipe',
    subtitle: 'Informations',
    actions: actions,
    body: body
  }) }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ include('_ui/am_styles.html.twig') }}
{% endblock %}
