{# templates/tournoi/_form.html.twig #}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    
    {% for field in form %}
        {% if field.vars.name != '_token' %}
            <div class="mb-4">
                {{ form_label(field, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(field, {'attr': {'class': 'form-control', 'placeholder': field.vars.attr.placeholder|default('')}}) }}
                <div class="form-text text-danger">
                    {{ form_errors(field) }}
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="d-flex align-items-center gap-3 mt-5">
        <button class="btn btn-primary">
            <i class="fa-solid fa-sparkles me-2"></i> {{ button_label|default('Enregistrer le Tournoi') }}
        </button>
        <a href="{{ path('app_tournoi_index') }}" class="btn btn-link">
            Annuler
        </a>
    </div>

    {{ form_rest(form) }}
{{ form_end(form) }}
